:root {
    --purple: #7e3d7c;
    --white: #E1F5C4;
}

body {
    --s: 150px; /* control the size */
    --_g: #0000, #0004 5%,
    var(--purple) 6% 14%, var(--white) 16% 24%, var(--purple) 26% 34%, var(--white) 36% 44%,
    var(--purple) 46% 54%, var(--white) 56% 64%, var(--purple) 66% 74%, var(--white) 76% 84%,
    var(--purple) 86% 94%, #0004 95%, #0000;
    background: radial-gradient(100% 50% at 100% 0, var(--_g)),
    radial-gradient(100% 50% at 0 50%, var(--_g)),
    radial-gradient(100% 50% at 100% 100%, var(--_g));
    background-size: var(--s) calc(2 * var(--s));
}

.table .top {
    border-radius: 1.1rem;
    border-style: hidden;
    color: var(--purple)
}

.table .bottom {
    border-style: hidden;
    border-radius: 1.1rem;
}

.table {
    border-radius: 1.5rem;
    border-collapse: separate;
    border-width: medium;
}

div.inner {
    background: white;
    border-style: solid;
    border-color: brown;
}

div.tank {
    color: black;
    text-align: center;
    position: absolute;
    left: -300px;
    top: 150px;
    width: 15vw;
}